body,
html {
    margin: 0;
    padding: 0;
}

#map {
    width: 100%;
    background-image: url('/map.svg');
    aspect-ratio: 2050/2638;
    height: auto;
    background-size: contain;
}

#strategy {
    width: 100%;
    background-image: url('/strategy.webp');
    aspect-ratio: 1381/450;
    height: auto;
    background-size: contain;
}

.step-img {
    margin-left: auto;
    margin-right: auto;
    max-height: 500px;
    padding-left: auto;
    padding-right: auto;
    max-width: 100%;
}

#jump-learning {
    display: block;
    padding-top: 90px;
    margin-top: -90px;
}

span {
    display: inline-block;
}

.no-underline {
    text-decoration: none;
}
